<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> 
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style="overflow: hidden;">
    
    <div id="drop">
        <div>
            <div class="wrap">
                <button v-if="but==='start'" v-on:click="start()" > &nbsp; start &nbsp; </button>
                <button v-if="but==='stop'" v-on:click="stop()" > &nbsp; stop &nbsp; </button>
            </div>
            
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-7 d-flex justify-content-center">
                
                <img style="transform: rotate(-8deg);" id="spinner" src="./spin1.png" alt="">
                <button style="z-index: 10;background-color: transparent;border: transparent;"><i class="fa fa-arrow-left" style="font-size:56px;color: black;"></i></button>
            </div>
            <div class="col-md-5 d-flex justify-content-center" >
                <div>
                    <h2>Lucky Numbers</h2>
                <ul style="overflow: scroll;height: 70vh;overflow-y: scroll;">
                    <li v-for="num in table" >{{num}}</li>
                </ul>
                </div>
            </div>
        </div>


    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="./script.js"></script>

</body>
</html>